@import "reset";
@base_w:70.3%;
@base_h:600px;
.header{
	height: 200px;
	background: #ccc;
}
.wrapper{
	width: @base_w;
	min-width: 500px;// 不支持ie6,7
	margin: 0 auto;
	color: #fff;
}
.content{
	height: @base_h;
	line-height: 30px;
	background-color: #666;
}
.primary{
	.fr;
	width: 79.1%;
	height: @base_h;
	background-color: red;
}
.secondary{
	width: 20.9%;
	height: @base_h;
	.fl;
	background-color: yellow;
}
.footer{
	height: 150px;
	background: #000;
}