@import "reset";
@color:#0088bb;
#content{
	width: 800px;
	margin: 0 auto;
	padding: 20px;
	font-size: 12px;
	line-height: 2em;
	h1{
		color: @color;
	}
	.item{
		padding: 20px;
		margin-bottom: 20px;
		border: 1px dotted @color;
		h2{
			font-size: 16px;
			font-weight: bold;
			border-bottom: 2px solid @color;
			margin-bottom: 10px;
		}
		li{
			display: inline;
			margin-right: 20px;
			img{
				width: 230px;
				height: 230px;
				border: none;
				margin-bottom: 20px;
			}
		}
	}
}
#menu{
	position: fixed;
	top:100px;
	left: 50%;
	margin-left:400px;
	width: 80px;
	ul li a{
		display: block;
		margin: 5px 0;
		font: 14px/50px bold;
		color: #333;
		width: 80px;
		height: 50px;
		text-decoration: none;
		text-align: center;
		&:hover,&.current{
			color: #fff;
			background: @color;
		}
	}
}
// ie6 hack 不支持fixed属性
* html #menu{
	// position:fixed
	position: absolute;
	top:~"expression(((e=document.documentElement.scrollTop)?e:document.body.scrollTop)+100+'px')";
}
// 帮助相对于窗口固定位置的元素实现无抖动效果
* html, * html body{
	background-image: url(about:blank);
	background-attachment: fixed;
}
