body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td {
  padding: 0;
  margin: 0;
}
ol,
ul {
  list-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '\200B';
  display: block;
  height: 0;
  clear: both;
}
.wrapper {
  width: 800px;
  margin: 0 auto;
}
#menu {
  position: fixed;
  top: 100px;
  left: 50%;
  width: 80px;
  margin-left: 400px;
}
#menu a {
  display: block;
  width: 80px;
  height: 50px;
  margin: 5px 0;
  font: 14px/50px bold;
  color: #333;
  text-decoration: none;
  text-align: center;
}
#menu a:hover,
#menu a.current {
  color: #fff;
  background: #0088bb;
}
* html #menu {
  position: absolute;
}
#content {
  padding: 20px 0px 20px 0px;
  font-size: 12px;
  line-height: 2em;
}
#content h1 {
  color: #0088bb;
}
.item {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px dotted #0088bb;
}
.item h2 {
  font: 16px bold;
  border-bottom: 2px solid #0088bb;
  margin-bottom: 10px;
}
.item li {
  display: inline;
  margin-right: 20px;
}
.item img {
  width: 230px;
  height: 230px;
  border: none;
  margin-bottom: 20px;
}
