    
* {
  padding: 0px;
  margin: 0px;
}
#wrap {
  position: relative;
}
.box {
  padding: 15px 0 0 15px;
  float: left;
}
.pic {
  padding: 10px;
  width: 240px;
  height: auto;
  border: 1px solid #ccc;
}
.pic img {
  width: 240px;
}
